.footer {
    color: $color-white;
    background-color: $color-primary-dark;
    min-height: 20rem;

    &__container {
        padding: 5rem 2rem;
        max-width: $content-max-width
    }

    &__link {
        display: flex;
        a {
            margin: 0 1rem;
        }
    }

    &__copy {
        margin-top: 3rem;
        text-align: center;
    }
}