.form {
    padding: 2rem 4rem;
    &__input {
        border: 1px solid rgba($color-primary, .5);
        color: inherit;
        font-size: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .9);
        transition: all .3s;
        // border-bottom: 3px solid transparent;
        display: block;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000, .1);
            border-bottom: 2px solid $color-secondary;
        }

        &:focus:invalid {
            border-bottom: 2px solid $color-secondary-light;
        }
    }

    input[type='text']:disabled,
    input[type='email']:disabled,
    input[type='password']:disabled,
    textarea:disabled
    {
        background:$color-gray-light-2;
        color: $color-gray-dark-3;
        cursor: auto;
    }

    &__error {
        color: red;
    }
}

.toggleInput{
    display: flex;
    align-items: center;
}

%userForm {
    max-width: $content-max-width;
    min-height: $content-min-height;
    margin: auto;
    padding: 2rem;
}