$color-primary: #4e342e;
$color-primary-light: #7b5e57;
$color-primary-dark: #260e04;

$color-secondary: #ffcc80;
$color-secondary-light: #fcfce5;
$color-secondary-dark: #ca9b52;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-gray-dark:#777;
$color-gray-dark-2:#999;
$color-gray-dark-3:#333;

$color-white:#fff;
$color-black:#000;

// Font
$font-primary: 'Kosugi Maru', sans-serif;
$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$content-max-width: 1200px;
$content-min-height: 80vh;

//React rater
$react-rater-link: #cdc !default; // color of star not rated 
$react-rater-hover: #151 !default; // color of star on hover 
$react-rater-active: $color-primary !default; // color of star rated 