.home {
    h2 {
        color: #fff;
        font-size: 3.5rem;
        text-align: center;
        background-color: $color-primary-light;
    }

    // max-width: $content-max-width;
    min-height: $content-min-height;
    margin: auto;

    &__header{
        text-align: center;
        position: relative;
        &__title {
            font-size: 3.7rem;
            color: $color-primary;
            position: absolute;
            left: 4rem;
            top: 5.3rem;
            color: $color-primary-dark;
        }
        &__description{
            position: absolute;
            padding: 0 2rem;
            top: 15rem;
            left: 6rem;
            max-width: 70rem;
            text-align: left;
            margin: auto;
            background-color: rgba(255, 255, 255, .3);
        }
        background-image: url('../img/search_header.jpg');
        background-size: cover;
        height: 32rem;

        @include respond(phone){
            display: none;
        }
    }

    &__newcafes {
        // background-color: $color-secondary-light;
        padding: 2rem;
        display: grid;
        justify-items: center;
        width: 100%;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        @include respond(tab-port){
            display: flex;
            overflow-x: auto;
        }
    }
}
