.u-center-text {text-align: center !important;}

.u-margin-bottom-small {margin-bottom: 1.4rem !important;}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-big { 
    margin-bottom: 8rem !important;
    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important;}
.u-margin-top-huge { margin-top: 10rem !important;}

.no-image {
    background-image: url(../img/SVG/bell.svg);
    object-fit: cover;
}

.hidden {
    display:none
}

.loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }

.font-red{
    color:orangered
}

.font-blue {
    color:blue
}

.bg-primary{
    background-color: $color-primary;
}

.bg-primary-light{
    background-color: $color-primary-light;
}

.bg-primary-dark{
    background-color: $color-primary-dark;
}

.bg-secondary{
    background-color: $color-secondary;
}

.bg-secondary-light{
    background-color: $color-secondary-light;
}

.bg-secondary-dark{
    background-color: $color-secondary-dark;
}