.u-center-text {text-align: center !important;}

.u-margin-bottom-small {margin-bottom: 1.4rem !important;}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-big { 
    margin-bottom: 8rem !important;
    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-auto { margin: auto}

.u-margin-top-big { margin-top: 8rem !important;}
.u-margin-top-huge { margin-top: 10rem !important;}

.u-margin-left-small { margin-left: 1.4rem !important;}
.u-margin-left-medium { margin-left: 4rem !important;}
.u-margin-left-big { margin-left: 8rem !important;}
.u-margin-left-huge { margin-left: 10rem !important;}

.u-margin-right-small { margin-right: 1.4rem !important;}
.u-margin-right-medium { margin-right: 4rem !important;}
.u-margin-right-big { margin-right: 8rem !important;}
.u-margin-right-huge { margin-right: 10rem !important;}

.u-text-center{
    text-align: center;
}

.u-text-right{
    text-align: right;
}

.u-flex { display:flex;}
.u-flex-justify { justify-content:center;}
.u-space-between { justify-content:space-between;}
.u-space-around { justify-content:space-around;}
.u-flex-align { align-items:center;}
.u-flex-wrap { flex-wrap:wrap;}
.u-flex-grow { flex-grow:1;}
.u-flex-responsive {
    display: flex;
    @include respond(tab-port){
        flex-direction: column;
    }
}

.no-image {
    background-image: url(../img/SVG/bell.svg);
    object-fit: cover;
}

.hidden {
    display:none
}

.loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }

.font-red{
    color:orangered
}

.font-blue {
    color:blue
}

.bg-primary{
    background-color: $color-primary;
}

.bg-primary-light{
    background-color: $color-primary-light;
}

.bg-primary-dark{
    background-color: $color-primary-dark;
}

.bg-secondary{
    background-color: $color-secondary;
}

.bg-secondary-light{
    background-color: $color-secondary-light;
}

.bg-secondary-dark{
    background-color: $color-secondary-dark;
}